  <link rel="stylesheet" href="style.css">

<ul id="hexGrid">
  {{#each users as |user| }}
    <li class="hex">
      <a class="hexIn" href="#">
        <img src="{{user.photo}}" alt="">
        <h1>{{user.event.name}}</h1>
        <p>{{user.event.date}}</p>
      </a>
    </li>
  {{/each}}
</ul>


