  <link rel="stylesheet" href="/public/css/style.css">

<ul id="hexGrid">
  {{#each events as |event| }}
    <li class="hex">
      <a class="hexIn" href="#">
        <img src="{{event.event_image}}" alt="">
        <h1>{{event.event_name}}</h1>
        <p>{{event.event_venue}}</p>
      </a>
    </li>
  {{/each}}
</ul>


