<div class="row">
  <div class="col-md-6">
    <h2 id="edit_title">Create Event</h2>

    <form class="form newevent-form">
      <div class="form-group">
        <label for="name">Name of event:</label>
        <input class="form-input" type="text" id="name" />
      </div>
      <div class="form-group">
        <label for="description">Description and location:</label>
        <input class="form-input" type="text" id="description" />
      </div>
      <div class="form-group">
        <label for="date_scheduled">Date</label>
        <input class="form-input" type="date" id="date_scheduled" />
      </div>
      <div class="form-group">
        <label for="event_image">Image URL:</label>
        <input class="form-input" type="text" id="event_image" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create!</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">

    <script type="text/javascript" src="/js/event.js"></script>
