{{!-- <div class="row">
<div class="col-md-6"></div> --}}
<div>
  <form id='search-form' action='/events/search' method='GET'>
    <h1 style="color: white;">Search Events</h1>
    <div class='form-group'>
      <input
        type='text'
        id='desription'
        class="form-input"
        name='search'
        placeholder='Search Events!'
      />

      <button class="btn btn-primary" type='submit'>Search</button>
    </div>
  </form>
</div>
{{!-- </div>
</div> --}}